<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Edit Team</title>
    <link rel="stylesheet" href="/style.css">
    <style>
       
    </style>
</head>

<body>
<div class="containerEdit">
    <h2>Edit Team</h2>

    <form th:action="@{'/team/update/' + ${team.teamId}}" method="post" th:object="${team}">
        <label>ID</label>
        <input type="number" th:field="*{teamId}" readonly />

        <label>Name</label>
        <input type="text" th:field="*{teamName}" />

        <label>City</label>
        <input type="text" th:field="*{teamCity}" />

        <label>Founded</label>
        <input type="number" th:field="*{teamFounded}" />

        <label>Coach</label>
        <input type="text" th:field="*{coachName}" />

        <button class="btn btn-save">Update</button>
        <button class="btn btn-back">Cancel</button>
        
    </form>
</div>
</body>
</html>
